.titleColumn a {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .titleColumn {
        height:300px;
        margin-top: 50px;
        padding: 0px 50px;
        border-right: 1px solid black;
    }
}

@media screen and (max-width: 991.99px) {
    .titleColumn {
        padding: 30px;
        border-bottom: 1px solid black;
    }
}